:root {
  --primary-color: #e85a4f;
  --secondary-color: #eae7dc;
  --tertiary-color: #8e8d8a;
  --dark-accent: #e98074;
  --light-accent: #d8c3a5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'TW Cen MT', 'Trebuchet MS', Arial, sans-serif ;
  line-height: 1.5;
  color: var(--primary-color);
  background-color: var(--light-accent);
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  padding: 20px 35px 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--primary-color);
  z-index: 9999;
}


header h1 {
  font-weight: bold;
  font-size: 4vw;
  padding: 5px 1% 5px 5%;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}

header h1 a {
  text-decoration: none;
  color: var(--tertiary-color);
}

nav {
  display: flex;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  margin-right: 12px;
  font-size: 1.5rem;
  padding: 5px 10px;
  background-image: linear-gradient(270deg, var(--secondary-color) 0%, var(--secondary-color) 100%);
  background-repeat: no-repeat;
  background-size: 0.2em 100%;
  background-position: left;
  transition: all 0.3s ease-in;
}

nav a:hover {
  background-size: 100% 100%;
  color: var(--primary-color);
}
/* HEADER END */

/* HERO*/
.hero {
  background-image: url(../images/Hero.png);
  background-color: var(--tertiary-color);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  min-height: 60vh;
  padding: 2% 6%;
  font-variant: small-caps;
  font-weight: lighter;
  font-family: 'Times New Roman', Times, serif;  
}

.hero-sub {
  flex: 0 0 90%;
}

.hero h2 {
  background-color: var(--secondary-color);
  padding: 5px 10px;
  color: var(--tertiary-color);
  font-size: 2rem;
  line-height: 1.3;
  display: inline;
}
/* END HERO */

main {
  max-width: 85%;
  margin: 15px auto 50px auto;
}

.page-section {
  margin: 20px 0;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  background-image: linear-gradient(270deg, var(--tertiary-color) 0%, var(--tertiary-color) 100%);
  background-repeat: no-repeat;
  background-size: 0em 100%;
  background-position: left;
  transition: all 0.3s ease-in;
}

.page-section > h2 {
  flex: 0 0 20%;
  color: var(--tertiary-color);
  text-align: right;
  font-size: 4.5vw;
  line-height: 1.2;
  padding-right: 15px;
  background-image: linear-gradient(270deg, var(--primary-color) 0%, var(--primary-color) 100%);
  background-repeat: no-repeat;
  background-size: 0.05em 100%;
  background-position: right;
  transition: all 0.3s ease-in;
}

.page-section > div {
  flex: 0 0 77%;
}

p {
  margin-bottom: 20px;
}

#about:hover > h2, #about:hover, #portfolio:hover > h2, #portfolio:hover, #contact:hover > h2, #contact:hover {
  background-size: 100% 100%;
  color: var(--secondary-color);
}

#contact:hover div address a {
  color: var(--secondary-color);
}

/* PORTFOLIO */
/* IMAGES */
.run-buddy {
  background-image: url(../images/run-buddy.png);
}

.react-calc {
  background-image: url(../images/react-calc.jpg);
}

.surf-report {
  background-image: url(../images/surf-report.jpg);
}

.pastel-puzzles {
  background-image: url(../images/pastel-puzzles.jpg);
}

.led-wall {
  background-image: url(../images/led-wall.jpg);
}
/* IMAGES END */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-item {
  border: 3px solid var(--secondary-color);
  background-color: var(--tertiary-color);
  background-size: cover;
  background-position: center;
  color: var(--tertiary-color);
  display: flex;
  align-items: flex-end;
  font-size: 1rem;
  padding: 0 0 15px 0;
  margin: 0.4em;
  text-decoration: none;
  max-height: 150px;
  min-height: 150px;
  flex-basis: calc(50% - 1vw);
  background-blend-mode: soft-light;
  transition: all 0.4s linear;
}

.flex-item div {
  background-color: var(--secondary-color);
  padding: 0 10px;
}

.flex-item h3 {
  font-size: 1.5rem;
}

.flex-item:first-child {
  min-height: 425px;
  flex-basis: 100%;
}

.flex-item:hover {
  background-color: rgba(0, 0, 0, 0);
}
/* PORTFOLIO END */

/* CONTACT */
.contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact address img {
  max-height: 50px;
}

.contact address a {
  text-decoration: none;
  color: var(--tertiary-color);
  font-style: normal;
  font-size: 1.25rem;
  padding: 5px 10px;
  background-image: linear-gradient(270deg, var(--primary-color) 0%, var(--primary-color) 100%);
  background-repeat: no-repeat;
  background-size: 0.2em 100%;
  background-position: left;
  transition: all 0.3s ease-in;
}

#contact div address a:hover {
  background-size: 100% 100%;
  color: var(--secondary-color);
}

/* SMALLER SCREEN STYLING */
@media screen and (max-width: 960px) {
  header {
    text-align: center;
    justify-content: center;
    padding: 0 0 10px 0;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    font-size: 10vw;
  }

  header nav {
    justify-content: center;
  }

  .page-section > h2, .page-section > div {
    flex: 0 0 100%;
  }

  .page-section > h2 {
    border-right: none;
    border-bottom: 3px solid var(--primary-color);
    text-align: left;
    font-size: 5vw;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  nav a {
    font-size: 0.9rem;
    margin-right: 9px;
  }

  .hero h2 {
    font-size: 1rem;
  }

  .flex-item, .flex-item:first-child {
    flex-basis: 100%;
  }

  .flex-item:first-child {
    min-height: 150px;
  }
  
  .contact address {
    align-items: center;
    margin: 5px 0 10px 0;
  }

  .contact address a img {
    max-height: 25px;
  }

  .hero {
    background-size: cover;
    background-position: left;
    background-color: var(--tertiary-color);
    min-height: 35vh;
  }
}