:root {
  --primary-color: #696969;
  --secondary-color: #D3D3D3;
  --tertiary-color: #40e0d0;
  --quaternary-color: #630630;
  --quinary-color: #FFFFFF;
  --senary-color: #00008b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif ;
  background-color: var(--secondary-color);
}

section {
  padding: 20px;
  font-size: 15px;
  line-height: 1.5;
  display: flex;
  align-items: center;
}

/* HEADER */
header {
  padding: 20px 35px 20px 0;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  padding: 5px 5px 5px 5%;
  font-variant: small-caps;
  background: var(--tertiary-color);
}

header h1 a {
  text-decoration: none;
  color: var(--senary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 20px;
  color: var(--quinary-color);
  margin-bottom: 10px;
}
/* HEADER END */

/* HERO (need to resize hero image for mobile)*/
.hero {
  background-image: url(../images/Hero.png);
  background-size: cover;
  background-position: center;
  background-attachment: local;
  flex-direction: row-reverse;
}

.hero-sub {
  padding: 2%;
  text-align: center;
  margin: 25% 0 0 0;
  font-size: 30px; /* need to vary this based on screen size */
  font-weight: bold;
  background-color: var(--tertiary-color);
}
/* END HERO */

/* ABOUT ME, WORK, CONTACT GENERAL */
.title {
  flex: 1;
  margin: 0 3.5%;
  padding: 0;
  text-align: right;
  font-size: 3.5vw;
  font-weight: bold;
  color: var(--senary-color);
  align-self: flex-start;
  width: 20%;
}

.content {
  flex: 5;
  padding-left: 3.5%;
  border-left: 3px solid var(--senary-color);
}
/* ABOUT ME, WORK, CONTACT GENERAL END */

/* PORTFOLIO */
.content img {
  width: 80%;
  margin-right: 3%;
}

.screenshot-title {
  display: block;
  float: left;
  position: absolute;
  background-color: var(--tertiary-color);
}

figure {
  position: relative;
  float: left;
}
/* PORTFOLO END */

/* CONTACT */
#contact-details {
  display: flex;
  justify-content: space-between;
}
#contact-details img {
  max-width: 35px;
}