@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Rajdhani:wght@300;400&display=swap');

:root {
  --primary-color: #0e131f;
  --secondary-color: #dfdfdf;
  --tertiary-color: #81717a;
  --accent-color-1: #009fb7;
  --accent-color-2: #ff0035;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color-2);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color-2);
  border-radius: 14px;
}

/* SPLASH START */
header {
  margin: 0;
  font-family: 'Rajdhani', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header-primary,
.header-secondary {
  color: var(--secondary-color);
  text-align: center;
  line-height: 1;
  margin: 0;
  align-items: center;
  justify-content: center;
}

#header-primary {
  font-size: 5rem;
}

.header-secondary {
  font-size: 3.5rem;
  margin-top: 1rem;
}

#view-work-container {
  color: var(--secondary-color);
}

#view-work {
  background-color: transparent;
  font-size: 2rem;
  padding: 1rem;
  margin-top: 2rem;
  font-family: 'Rajdhani', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#view-work-arrow {
  margin: 0 0 0 0.5rem;
}

#header-name {
  color: var(--accent-color-2);
}
/* SPLASH END */

/* UNIVERSAL START */
.title {
  font-size: 5rem;
  text-decoration: underline;
  margin-bottom: 8vh;
  padding-top: 5vh;
}
/* UNIVERSAL END */

/* NAV START */
#navigation {
  margin: 0;
  padding: 1vh 0 0 0;

  border-bottom: 4px solid var(--accent-color-1);
  background-color: var(--tertiary-color);
  font-size: 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

#nav-link-container {
  width: 20%;
  margin-left: 10vw;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap;
}

.nav-link {
  font-size: 1.5rem;
  margin: 0;
  padding: 0.5rem 0;
  color: var(--secondary-color);
}

.nav-link:hover {
  font-weight: bold;
  color: var(--accent-color-1);
}
/* NAV END */

/* ABOUT START */
#about {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#bio-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#brand-container {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#bio-brand {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#brand-image-container {
  /* width: 80%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#brand-image {
  width: 35vw;
  margin: 0;
  padding: 0;
}

#brand-title {
  margin: 0;
  padding: 0;
}

#brand-statement {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

#brand-contact {
  padding: 0;
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

#skills-container {
  width: 80%;
}

#bio-skills {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-icon-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

#icon-container {
  text-align: center;
  margin: 5rem 0;
}

#about-icon {
  font-size: 4rem;
  color: var(--accent-color-1);
  margin-bottom: 2rem;
}

#about-text {
  font-size: 1.7rem;
}
/* ABOUT END */

/* PROJECTS START */
#projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#filter-list {
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  width: 40%;
}

#filter-list button {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  font-size: 1.25rem;
}

#filter-list button:hover {
  background-color: var(--accent-color-1);
}

#projects-body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.project-container {
  width: 60%;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 4rem;
}

#grid-container {
  display: grid;
  grid-template-columns: 3 auto;
  grid-gap: 10%;
  border-radius: 5%;
  margin: 2rem;
}

.text-container,
.image-container {
  width: 250px;
  height: 300px;
  margin: 0 0.1rem 0.1rem 0.1rem;
  overflow: hidden;
}

.project-image {
  max-width: 250px;
}

.image-container {
  z-index: 10;
  position: relative;
}

.text-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.project-description {
  margin: 1rem 3rem;
}

.text-container:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

.project-title {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.project-language {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  color: var(--accent-color-2);
}

.project-button {
  font-size: 1.5rem;
  border: 2px solid var(--accent-color-1);
  color: var(--accent-color-1);
  padding: 1rem;
}
/* PROJECTS END */

/* CONTACT START */
#contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#contact-title {
  margin-top: 2rem;
}

#form-elements {
  width: 50%;
  margin-bottom: 4rem;
}

#form-elements label {
  color: var(--secondary-color);
  font-size: 1.4rem;
}

#form-elements input,
#form-elements textarea {
  margin-bottom: 1.5rem;
  background-color: var(--tertiary-color);
}

#form-button {
  border: 2px solid var(--accent-color-2);
}

#form-button-label {
  color: var(--accent-color-2);
  font-size: 1.4rem;
}

#form-button:hover {
  background-color: var(--accent-color-2);
  font-weight: bolder;
}

#form-elements input:focus,
#form-elements textarea:focus {
  background-color: var(--secondary-color);
}
/* CONTACT END */

/* FOOTER START */
#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
}

.logo-container {
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 1.5rem 0;
}

.logo-button {
  padding: 0;
  margin: 0;
  width: 3.7rem;
  height: 3.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
}

#logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  display: inline-block;
  width: 80%;
  text-align: center;
}

#logo-link i {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0.5rem 0 0 0.25rem;
  padding: 0;
  font-size: 3rem;
  color: var(--primary-color);
}

#logo-arrow i {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  color: var(--accent-color-1);
}

#footer-name {
  color: var(--secondary-color);
  font-size: 1rem;
  margin-bottom: 1rem;
}

#footer-year {
  color: var(--accent-color-2);
}
/* FOOTER END */

body {
  margin: 0;
  font-family: 'Jost', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scroll-to-top {
  background-color: var(--accent-color-2);
}

@media only screen and (max-width: 1650px) {
  #nav-link-container {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-left: 0;
  }

  #filter-list {
    width: 90%;
  }

  #filter-list button {
    font-size: 1rem;
  }

  #project-container {
    width: 75%;
  }

  #grid-container {
    grid-gap: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 3rem;
  }

  #nav-link-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }

  #nav-link,
  #brand-statement,
  #about-text {
    font-size: 1.25rem;
  }

  #bio-brand,
  #brand-image,
  #bio-skills {
    width: 100vw;
  }

  #about-icon-container {
    width: 80%;
  }

  #about-icon {
    font-size: 2.5rem;
  }

  #brand-contact {
    font-size: 1.25rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }

  #filter-list {
  }

  #filter-list button {
  }
}

@media only screen and (max-width: 525px) {
  html,
  body {
    overflow-x: hidden;
  }

  #filter-list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
  }

  #filter-list button {
    margin-bottom: 1rem;
  }
}
