@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Rajdhani:wght@300;400&display=swap');

:root {
  --primary-color: #0e131f;
  --secondary-color: #dfdfdf;
  --tertiary-color: #81717a;
  --accent-color-1: #009fb7;
  --accent-color-2: #ff0035;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color-2);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color-2);
  border-radius: 14px;
}

/* SPLASH START */
header {
  margin: 0;
  font-family: 'Rajdhani', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header-primary,
.header-secondary {
  color: var(--secondary-color);
  text-align: center;
  line-height: 1;
  margin: 0;
  align-items: center;
  justify-content: center;
}

#header-primary {
  font-size: 5rem;
}

.header-secondary {
  font-size: 3.5rem;
  margin-top: 1rem;
}

#view-work-container {
  color: var(--secondary-color);
}

#view-work {
  background-color: transparent;
  font-size: 2rem;
  padding: 1rem;
  margin-top: 2rem;
  font-family: 'Rajdhani', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#view-work-arrow {
  margin: 0 0 0 0.5rem;
}

#header-name {
  color: var(--accent-color-2);
}
/* SPLASH END */

/* NAV START */
#navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 4px solid var(--accent-color-1);
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  font-size: 1.5rem;
}

#navigation .active {
  color: var(--accent-color-2);
  font-weight: bold;
}

.navigation a {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
/* NAV END */

/* ABOUT START */
#about {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about-title {
  font-size: 5rem;
  text-decoration: underline;
}

#bio-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#brand-container {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#bio-brand {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#brand-image-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#brand-image {
  width: 35vw;
  margin: 0;
  padding: 0;
}

#brand-title {
  margin: 0;
  padding: 0;
}

#brand-statement {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

#brand-contact {
  padding: 0;
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

#skills-container {
  width: 80%;
}

#bio-skills {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about-icon-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* ABOUT END */

/* PROJECTS START */

/* PROJECTS END */

/* FOOTER START */
#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
}

.logo-container {
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 1.5rem 0;
}

#logo-button {
  padding: 0;
  margin: 0;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
}

#logo-link {
  display: flex;
}

#logo-link i {
  margin: 0;
  padding: 1rem 1.2rem;
  font-size: 3rem;
  color: var(--primary-color);
}

#logo-arrow i {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  color: var(--accent-color-1);
}

#footer-name {
  color: var(--secondary-color);
  font-size: 1rem;
  margin-bottom: 1rem;
}

#footer-year {
  color: var(--accent-color-2);
}
/* FOOTER END */

body {
  margin: 0;
  font-family: 'Jost', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scroll-to-top {
  background-color: var(--accent-color-2);
}
